<div class="container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="home" class="home-icon"/></button>
    <h1 class="app-name">dibshit - portmanteau word made up from dipshit and having dibs</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                        [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'" class="sidenav"
                [fixedInViewport]="isMobile()" fixedTopGap="56" >
      <mat-nav-list class="nav-list" role="navigation" >
        <a mat-list-item
            routerLink="/item-dashboard"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            (click)="snav.close()">
            Items
        </a>
        <a mat-list-item
            routerLink="/orders"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            (click)="snav.close()">
            Orders
        </a>
      </mat-nav-list>
      <mat-nav-list class="bottom-nav-list" >
        <a mat-list-item 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            (click)="snav.close()">
            Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet />
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>


<!-- The routed views render in the <router-outlet>-->
